body, tw-story 
{
    background-color: #172774; 
    color: #EEEEEE;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 18px;
}

tw-passage 
{
    max-width: 50%;
    margin: 0 auto 0 auto;
}

tw-link, .enchantment-link 
{ 
    color: #FF0075; 
}
   
.visited 
{
    color: #FF0075;
}

.test_img
{
    width: 50%;
}

.center
{
    text-align: center;
    font-size: 21px;
}

a:link
{
    color: #2E87F9;
}

ul
{
    list-style: none;
}

li
{
    display: block
}